[submodule "wolvrix-playground"]
	path = wolvrix-playground
	url = https://github.com/Wolf-Tungsten/wolvrix-playground
[submodule "corvus"]
	path = corvus
	url = https://github.com/Wolf-Tungsten/corvus
[submodule "rt-thread"]
	path = rt-thread
	url = https://github.com/Wolf-Tungsten/rt-thread-for-corvus.git
